@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

/* @font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-display: swap;
  src: url("/Cormorant-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-display: swap;
  src: url("/Cormorant-Italic-VariableFont_wght.ttf") format("truetype");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Cormorant Italics";
  font-style: normal;
  font-weight: 400;
  src: url("")
    format("truetype");
  /* src: url("/../public/Cormorant/Cormorant-Italic-VariableFont.ttf") */
/* format("truetype"); */
/* } */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-color: #e6efef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: Helvetica, serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, serif;
}

.card {
  background: var(--card-color);
  text-align: left;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Cormorant", Helvetica, serif;
  margin: 1rem;
}

.content-body {
  white-space: pre-wrap;
}

.sidebar {
  background-color: #f1eee5;
}